@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fffcf2;
    
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #1f1f1f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00d4ff;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}


.hero {
    height: 80vh;
    background: linear-gradient(to bottom right, #005bea, #00c6fb);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.hero-content {
    animation: fadeInUp 0.8s ease-out;
}
.hero h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 10px;
}

.hero p {
    color: #e6faff;
    font-size: 18px;
}

.cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #fff;
    color: #005bea;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #dff8ff;
}


.facts {
    padding: 80px 40px;
    text-align: center;
}

.facts h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #262525;
}

.facts-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.facts-container,.fact-card:hover{
    transform: translateY(-9.5px);
    transition: transform 0.3s ease-out;
   
}

.fact-card {
    background: #f9f9f9;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: left;
    
}

.fact-card .number {
    font-size: 40px;
    font-weight: 800;
    color: #65a9db;
    margin-bottom: 15px;
    
}

.fact-card h3 {
    margin-bottom: 10px;
}
.RMInfo {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #65a9db;
}
.RMInfo>div>h3,.RMInfo>div>p {
    color: #262525;
}


/* BLOG SECTION */
.blog {
    padding: 80px 40px;
    background: #eef6ff;
    
}

.blog h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #262525;
}

.blog-post {
    max-width: 800px;
    margin: center;
    background: white;
    padding: 40px;
    color: #262525;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.blog-post:hover{
    transform: translateY(-10px);
    background: #00a8ff;
    color: white;
    transition: 0.2s;
    transition: transform 0.3s;
    .read-more{
        color: white;
    }
}

.read-more {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}



/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #1f1f1f;
    color: white;
}
