@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f7f9fc;
    color: #333;
}


.navbar {
    width: 100%;
    padding: 20px 40px;
    background: #0a0f24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #62d2ff;
}


.hero {
    height: 75vh;
    background: linear-gradient(to bottom right, #1a73e8, #52c5ff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.hero-inner{
    animation: fadeInUp 0.8s ease-out;
}
.hero-inner h1 {
    color: white;
    font-size: 48px;
    max-width: 900px;
    margin: auto;
}

.hero-inner p {
    color: #e7f7ff;
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #fff;
    color: #1a73e8;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #e9f7ff;
}


.blog-section {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.blog-card {
    background: white;
    max-width: 900px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.1);
     background: #fffcf2;
}

.blog-card h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #262525
}

.blog-card p {
    line-height: 1.7;
    margin-bottom: 16px;
    color: #262525
}


.footer {
    text-align: center;
    padding: 20px;
    background: #0a0f24;
    color: white;
    margin-top: 60px;
}
