@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(to bottom right, #183771, #060218);
    background-attachment: fixed;
    color: #ffffff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 40px;
    background: rgba(10, 15, 36, 0.4); /* translucent */
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #62d2ff;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* HERO */
.hero {
    height: 75vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.hero-inner {
    animation: fadeInUp 0.8s ease-out;
}

.hero-inner h1 {
    color: white;
    font-size: 48px;
    max-width: 900px;
    margin: auto;
}

.hero-inner p {
    color: #d7ebff;
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #fff;
    color: #1a73e8;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #e9f7ff;
}

/* BLOG SECTION */
.blog-section {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.blog-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    width: 100%;         
    max-width: 900px;
    padding: 40px 30px;    
    border-radius: 15px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.2);
    color: #ffffff;
    margin: 0 20px;         
    margin-top: 50px;
}



.blog-card h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ffffff;
}

.blog-card p {
    line-height: 1.7;
    margin-bottom: 16px;
    color: #e9e9e9;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: rgba(10, 15, 36, 0.35);
    backdrop-filter: blur(6px);
    color: white;
    margin-top: 60px;
}
